# Working on Real Project with Python on 'COVID-19 Dataset'

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Project 3 Data Analysis On Covid Datasets.csv')

In [3]:
data.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [4]:
data.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

### Q.1 ) Show the number of Confirmed , Deaths and Recovered cases in each Region.

In [5]:
data.groupby('Region').sum()

                    Confirmed  Deaths  Recovered
Region
Afghanistan              1939      60        252
Albania                   766      30        455
Algeria                  3848     444       1702
Andorra                   743      42        423
Angola                     27       2          7
...                       ...     ...        ...
West Bank and Gaza        344       2         71
Western Sahara              6       0          5
Yemen                       6       0          1
Zambia                     97       3         54
Zimbabwe                   32       4          5

[187 rows x 3 columns]

In [8]:
data.groupby('Region')['Confirmed'].sum().sort_values(ascending = False)

Region
US                       1039909
Spain                     236899
Italy                     203591
France                    166543
UK                        166441
                          ...
Sao Tome and Principe          8
Papua New Guinea               8
Bhutan                         7
Western Sahara                 6
Yemen                          6
Name: Confirmed, Length: 187, dtype: int64

### Q2) Remove all the records where Confirmed Cases is Less Than 10.

In [9]:
data[data['Confirmed'] < 10]

,Date,State,Region,Confirmed,Deaths,Recovered
18,4/29/2020,NaN,Bhutan,7,0,5
98,4/29/2020,NaN,MS Zaandam,9,2,0
105,4/29/2020,NaN,Mauritania,8,1,6
126,4/29/2020,NaN,Papua New Guinea,8,0,0
140,4/29/2020,NaN,Sao Tome and Principe,8,0,4
177,4/29/2020,NaN,Western Sahara,6,0,5
178,4/29/2020,NaN,Yemen,6,0,1
184,4/29/2020,Anguilla,UK,3,0,3
192,4/29/2020,"Bonaire, Sint Eustatius and Saba",Netherlands,5,0,0
194,4/29/2020,British Virgin Islands,UK,6,1,3
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
272,4/29/2020,Northwest Territories,Canada,5,0,0
284,4/29/2020,Recovered,Canada,0,0,20327
285,4/29/2020,Recovered,US,0,0,120720
288,4/29/2020,Saint Barthelemy,France,6,0,6
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
305,4/29/2020,Tibet,Mainland China,1,0,1

In [11]:
data = data[~(data['Confirmed'] < 10)]

In [12]:
data.head(30)

         Date State                  Region  Confirmed  Deaths  Recovered
0   4/29/2020   NaN             Afghanistan       1939      60        252
1   4/29/2020   NaN                 Albania        766      30        455
2   4/29/2020   NaN                 Algeria       3848     444       1702
3   4/29/2020   NaN                 Andorra        743      42        423
4   4/29/2020   NaN                  Angola         27       2          7
5   4/29/2020   NaN     Antigua and Barbuda         24       3         11
6   4/29/2020   NaN               Argentina       4285     214       1192
7   4/29/2020   NaN                 Armenia       1932      30        900
8   4/29/2020   NaN                 Austria      15402     580      12779
9   4/29/2020   NaN              Azerbaijan       1766      23       1267
10  4/29/2020   NaN                 Bahamas         80      11         23
11  4/29/2020   NaN                 Bahrain       2921       8       1455
12  4/29/2020   NaN              Bangladesh       7103     163        150
13  4/29/2020   NaN                Barbados         80       7         39
14  4/29/2020   NaN                 Belarus      13181      84       2072
15  4/29/2020   NaN                 Belgium      47859    7501      11283
16  4/29/2020   NaN                  Belize         18       2          9
17  4/29/2020   NaN                   Benin         64       1         33
19  4/29/2020   NaN                 Bolivia       1110      59        117
20  4/29/2020   NaN  Bosnia and Herzegovina       1677      65        710
21  4/29/2020   NaN                Botswana         23       1          5
22  4/29/2020   NaN                  Brazil      79685    5513      34132
23  4/29/2020   NaN                  Brunei        138       1        124
24  4/29/2020   NaN                Bulgaria       1447      64        243
25  4/29/2020   NaN            Burkina Faso        641      43        498
26  4/29/2020   NaN                   Burma        150       6         27
27  4/29/2020   NaN                 Burundi         11       1          4
28  4/29/2020   NaN              Cabo Verde        114       1          2
29  4/29/2020   NaN                Cambodia        122       0        119
30  4/29/2020   NaN                Cameroon       1832      61        934

### Q.3) In which Region, maximum number of Confirmed cases were recorded ?

In [13]:
data.groupby('Region').Confirmed.sum().sort_values(ascending = False).head(20)

Region
US                1039909
Spain              236899
Italy              203591
France             166536
UK                 166432
Germany            161539
Turkey             117589
Russia              99399
Iran                93657
Mainland China      82861
Brazil              79685
Canada              52860
Belgium             47859
Netherlands         38993
Peru                33931
India               33062
Switzerland         29407
Ecuador             24675
Portugal            24505
Saudi Arabia        21402
Name: Confirmed, dtype: int64

### Q.4) In which Region, minimum number of Deaths cases were recorded ?

In [15]:
data.groupby('Region').Deaths.sum().sort_values(ascending = True).head(20)

Region
Cambodia                            0
Seychelles                          0
Saint Lucia                         0
Central African Republic            0
Saint Kitts and Nevis               0
South Sudan                         0
Rwanda                              0
Grenada                             0
Macau                               0
Madagascar                          0
Nepal                               0
Namibia                             0
Saint Vincent and the Grenadines    0
Mozambique                          0
Holy See                            0
Timor-Leste                         0
Mongolia                            0
Uganda                              0
Laos                                0
Eritrea                             0
Name: Deaths, dtype: int64

### Q.5) How many Confirmed , Deaths & Recovered cases were reported from India till 29 April 2020 ?

In [16]:
data[data['Region'] == 'India']

         Date State Region  Confirmed  Deaths  Recovered
74  4/29/2020   NaN  India      33062    1079       8437

In [17]:
data[data['Region'] == 'US']

,Date,State,Region,Confirmed,Deaths,Recovered
181,4/29/2020,Alabama,US,6912,256,0
182,4/29/2020,Alaska,US,355,9,0
186,4/29/2020,Arizona,US,7209,308,0
187,4/29/2020,Arkansas,US,3193,57,0
195,4/29/2020,California,US,48747,1946,0
199,4/29/2020,Colorado,US,14758,766,0
200,4/29/2020,Connecticut,US,26767,2169,0
202,4/29/2020,Delaware,US,4655,144,0
204,4/29/2020,Diamond Princess cruise ship,US,49,0,0
205,4/29/2020,District of Columbia,US,4106,205,0
208,4/29/2020,Florida,US,33193,1218,0
213,4/29/2020,Georgia,US,25775,1101,0
216,4/29/2020,Grand Princess,US,103,3,0
219,4/29/2020,Guam,US,141,5,0
224,4/29/2020,Hawaii,US,613,16,0
231,4/29/2020,Idaho,US,1952,60,0
232,4/29/2020,Illinois,US,50358,2215,0
233,4/29/2020,Indiana,US,17182,964,0
235,4/29/2020,Iowa,US,6843,148,0
240,4/29/2020,Kansas,US,3839,134,0
241,4/29/2020,Kentucky,US,4537,234,0
243,4/29/2020,Louisiana,US,27660,1845,0
245,4/29/2020,Maine,US,1056,52,0
248,4/29/2020,Maryland,US,20849,1078,0
249,4/29/2020,Massachusetts,US,60265,3405,0
251,4/29/2020,Michigan,US,40399,3670,0
252,4/29/2020,Minnesota,US,4644,319,0
253,4/29/2020,Mississippi,US,6569,250,0
254,4/29/2020,Missouri,US,7660,338,0
255,4/29/2020,Montana,US,451,16,0
257,4/29/2020,Nebraska,US,3851,56,0
258,4/29/2020,Nevada,US,4934,230,0
261,4/29/2020,New Hampshire,US,2058,60,0
262,4/29/2020,New Jersey,US,116365,6771,0
263,4/29/2020,New Mexico,US,3213,112,0
265,4/29/2020,New York,US,299691,23477,0
268,4/29/2020,North Carolina,US,10180,382,0
269,4/29/2020,North Dakota,US,1033,19,0
270,4/29/2020,Northern Mariana Islands,US,14,2,0
274,4/29/2020,Ohio,US,17303,937,0
275,4/29/2020,Oklahoma,US,3473,214,0
277,4/29/2020,Oregon,US,2446,101,0
278,4/29/2020,Pennsylvania,US,46327,2373,0
280,4/29/2020,Puerto Rico,US,1433,86,0
287,4/29/2020,Rhode Island,US,8247,251,0
298,4/29/2020,South Carolina,US,5882,231,0
299,4/29/2020,South Dakota,US,2373,13,0
302,4/29/2020,Tennessee,US,10366,195,0
303,4/29/2020,Texas,US,27257,754,0
307,4/29/2020,Utah,US,4497,45,0
308,4/29/2020,Vermont,US,862,47,0
310,4/29/2020,Virgin Islands,US,57,4,0
311,4/29/2020,Virginia,US,14962,522,0
312,4/29/2020,Washington,US,14070,801,0
313,4/29/2020,West Virginia,US,1110,38,0
315,4/29/2020,Wisconsin,US,6520,308,0
316,4/29/2020,Wyoming,US,545,7,0

### Q. 6-A ) Sort the entire data wrt No. of Confirmed cases in ascending order.

In [19]:
data = pd.read_csv('Project 3 Data Analysis On Covid Datasets.csv')

In [20]:
data.sort_values(by = ['Confirmed'], ascending = True).head(50)

,Date,State,Region,Confirmed,Deaths,Recovered
285,4/29/2020,Recovered,US,0,0,120720
284,4/29/2020,Recovered,Canada,0,0,20327
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
305,4/29/2020,Tibet,Mainland China,1,0,1
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
184,4/29/2020,Anguilla,UK,3,0,3
192,4/29/2020,"Bonaire, Sint Eustatius and Saba",Netherlands,5,0,0
272,4/29/2020,Northwest Territories,Canada,5,0,0
288,4/29/2020,Saint Barthelemy,France,6,0,6
178,4/29/2020,NaN,Yemen,6,0,1
194,4/29/2020,British Virgin Islands,UK,6,1,3
177,4/29/2020,NaN,Western Sahara,6,0,5
18,4/29/2020,NaN,Bhutan,7,0,5
126,4/29/2020,NaN,Papua New Guinea,8,0,0
140,4/29/2020,NaN,Sao Tome and Principe,8,0,4
105,4/29/2020,NaN,Mauritania,8,1,6
98,4/29/2020,NaN,MS Zaandam,9,2,0
156,4/29/2020,NaN,Suriname,10,1,8
70,4/29/2020,NaN,Holy See,10,0,2
59,4/29/2020,NaN,Gambia,10,1,8
144,4/29/2020,NaN,Seychelles,11,0,6
27,4/29/2020,NaN,Burundi,11,1,4
256,4/29/2020,Montserrat,UK,11,1,2
318,4/29/2020,Yukon,Canada,11,0,0
217,4/29/2020,Greenland,Denmark,11,0,11
306,4/29/2020,Turks and Caicos Islands,UK,12,1,5
206,4/29/2020,Falkland Islands (Malvinas),UK,13,0,11
118,4/29/2020,NaN,Nicaragua,13,3,7
215,4/29/2020,Grand Princess,Canada,13,0,0
270,4/29/2020,Northern Mariana Islands,US,14,2,0
136,4/29/2020,NaN,Saint Kitts and Nevis,15,0,4
45,4/29/2020,NaN,Dominica,16,0,13
138,4/29/2020,NaN,Saint Vincent and the Grenadines,16,0,8
114,4/29/2020,NaN,Namibia,16,0,8
201,4/29/2020,Curacao,Netherlands,16,1,13
137,4/29/2020,NaN,Saint Lucia,17,0,15
260,4/29/2020,New Caledonia,France,18,0,17
281,4/29/2020,Qinghai,Mainland China,18,0,18
55,4/29/2020,NaN,Fiji,18,0,12
16,4/29/2020,NaN,Belize,18,2,9
90,4/29/2020,NaN,Laos,19,0,7
64,4/29/2020,NaN,Grenada,20,0,13
21,4/29/2020,NaN,Botswana,23,1,5
5,4/29/2020,NaN,Antigua and Barbuda,24,3,11
163,4/29/2020,NaN,Timor-Leste,24,0,6
279,4/29/2020,Prince Edward Island,Canada,27,0,0
4,4/29/2020,NaN,Angola,27,2,7
271,4/29/2020,Northern Territory,Australia,28,0,25
180,4/29/2020,NaN,Zimbabwe,32,4,5
152,4/29/2020,NaN,South Sudan,34,0,0